.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 67, 67, 0.558);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
}

.modal.is-show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    max-width: 400px;
    padding: 50px;
    border-radius: 20px;
    background-color: aliceblue;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 50px;
    cursor: pointer;
    color: black;
}

.modal-desc {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px;
}

.modal-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
}

.modal-confirm,
.modal-cancel {
    border: 0;
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: transparent;
    color: #999;
}

.modal-submit {
    background-color: rgb(63, 63, 225);
    color: white;
}