body{
  margin:0;
  font-family:Arial,sans-serif;
}

.wrap{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:200px;
  background:#222;
  color:#fff;
  padding:12px;
  transform: translateX(0);
}

.sidebar.hide {
    transform: translateX(-100%);
}

.sidebar a{
  display:block;
  color:#fff;
  text-decoration:none;
  padding:8px;
  border-radius:6px;
}

.sidebar a:hover{
  background:#333;
}

.container{
  flex:1;
  padding:16px;
}